{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Javiera Gómez | Digital CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="I am a seasoned Technology Support Engineer with a strong foundation in Linux administration, cloud technology, automation, and self taught full stack developer." />
    <meta name="keywords"
        content="Javiera Gómez, cloud engineer, web development, Linux, DevOps, Automation, full-stack developer, Cybersecurity, security" />
    <meta name="author" content="Javiera Gómez" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.ico' %}" rel="apple-touch-icon" />

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="{% static 'assets/css/styles_cv.css' %}">
</head>

<body>
    <!--========== HEADER ==========-->
    <header class=" l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">Javiera</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">
                            <i class='bx bx-home nav__icon'></i>Inicio
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#profile" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>Perfil
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#education" class="nav__link">
                            <i class='bx bx-book nav__icon'></i>Educación
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class='bx bx-receipt nav__icon'></i>Habilidades
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#proyecto" class="nav__link">
                            <i class='bx bx-briefcase-alt nav__icon'></i>Proyectos de Desarrollo
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#certificates" class="nav__link">
                            <i class='bx bx-award nav__icon'></i>Certificados
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt'></i>
            </div>
        </nav>
    </header>
    <main class="l-main bd-container">
        <!-- All elements within this div, is generated in PDF -->
        <div class="resume" id="area-cv">
            <div class="resume__left">
                {% for personal_info in personal %}
                <!--========== HOME ==========-->
                <section class="home" id="home">
                    <div class="home__container section bd-grid">
                        <div class="home__data bd-grid">
                            <h1 class="home__title"><b>{{ personal_info.name }}</b></h1>
                            <h3 class="home__profession">{{ personal_info.role }}</h3>
                            <!-- View CV -->
                            <a href="{% static 'assets/pdf/javiera_gomez_tapia_desarrolladora.pdf' %}" download
                                class="home__button-movil">
                                Descargar
                            </a>
                        </div>
                        <div class="home__address bd-grid">
                            <span class="home__information">
                                <i class='bx bx-map home__icon'></i> {{ personal_info.location }}
                            </span>
                            <a href="mailto:jf.gomeztapia@gmail.com" target="_black" class="home__information">
                                <i class='bx bx-envelope home__icon'></i> {{ personal_info.email }}
                            </a>
                            <a href="tel:+56986706374" target="_black" class="home__information">
                                <i class='bx bx-phone home__icon'></i> {{ personal_info.phone }}
                            </a>
                        </div>
                    </div>
                    <!-- Theme change button -->
                    <i class="bx bx-moon change-theme" title="Theme" id="theme-button"></i>
                    <a title="Download PDF" class="bx bx-download generate-pdf"
                        href="{% static 'assets/pdf/javiera_gomez_tapia_desarrolladora.pdf' %}" download></a>
                </section>
                <!--========== SOCIAL ==========-->
                <section class="social section">
                    <h2 class="section-title">SOCIAL</h2>

                    <div class="social__container bd-grid">
                        <a href="{{ personal_info.linkedin }}" target="_blank" class="social__link">
                            <i class='bx bxl-linkedin-square social__icon'></i> @javiera-fernanda-gomez-tapia-a01908260
                        </a>

                        <a href="{{ personal_info.github }}" target="_blank" class="social__link">
                            <i class='bx bxl-github social__icon'></i> @javiigomezt-oss
                        </a>
                    </div>
                </section>
                <!--========== PROFILE ==========-->
                <section class="profile section" id="profile">
                    <h2 class="section-title">Perfil</h2>
                    <p class="profile__description">
                        {{ personal_info.cv_description }}
                    </p>
                </section>
                {% endfor %}
                <!--========== EDUCATION ==========-->
                <section class="education section" id="education">
                    <h2 class="section-title">Educación</h2>
                    {% for education_info in education %}
                    <div class="education__container bd-grid">
                        <div class="education__content">
                            <div class="education__time">
                                <span class="education__rounder"></span>
                                <span class="education__line"></span>
                            </div>
                            <div class="education__data bd-grid">
                                <h3 class="education__title">{{ education_info.degree }}</h3>
                                <span class="education__studies">{{ education_info.school_name }}</span>
                                <span class="education__year">
                                    {{ education_info.date_range }} -
                                    {% if education_info.is_current %}
                                    Present
                                    {% else %}
                                    {{ education_info.formatted_end_date }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </section>
                <!--========== SKILLS  ==========-->
                <section class="skills section hide" id="skills">
                    <h2 class="section-title">Habilidades</h2>

                    <div class="skills__content bd-grid">
                        {% for technologies_skills in technologies %}
                        <div class="skills__name">
                            <span class="skills__circle"></span> {{ technologies_skills.name }}
                        </div>
                        {% endfor %}
                    </div>
                    <a href="#" class="skills-button" id="skills-button">See More</a>
                </section>
            </div>
            <div class="resume__right">
                <!--========== EXPERIENCE ==========-->
                <section class="experience section" id="experience">
                    <h2 class="section-title">Proyectos de desarrollo</h2>
                    <div class="experience__container bd-grid">
                        {% for proyecto in proyectos %}
                        <div class="experience__content">
                            <div class="experience__time">
                                <span class="experience__rounder"></span>
                                <span class="experience__line"></span>
                            </div>
                            <div class="experience__data bd-grid">
                                <h3 class="experience__title">
                                    <strong>{{ proyecto.titulo }}</strong>
                                </h3>

                                <span class="experience__company">
                                    {{ proyecto.fecha }}
                                </span>

                                <ul class="experience__list">
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>{{ proyecto.descripcion }}</div>
                                    </li>
                                </ul>

                                <div class="experience__technologies">
                                    <span>Tecnologías usadas</span>
                                    <ul class="experience__technologies-list">
                                        <li class="experience__technologies-item">
                                            {{ proyecto.tecnologias }}
                                        </li>
                                    </ul>
                                </div>

                                {% if proyecto.link %}
                                <div>
                                    <a href="{{ proyecto.link }}" target="_blank">
                                        Ver proyecto
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <!--Experiencia laboral-->
                    <section class="experience section" id="work">
                        <h2 class="section-title">Experiencia Laboral</h2>

                        <div class="experience__container bd-grid">
                            {% for exp in experiencia_laboral %}
                            <div class="experience__content">
                                <div class="experience__time">
                                    <span class="experience__rounder"></span>
                                    <span class="experience__line"></span>
                                </div>

                                <div class="experience__data bd-grid">
                                    <h3 class="experience__title">
                                        <strong>{{ exp.cargo }}</strong>
                                    </h3>

                                    <span class="experience__company">
                                        {{ exp.fecha_inicio }} - {{ exp.fecha_fin }} | {{ exp.empresa }}
                                    </span>

                                    <p class="experience__description">
                                        {{ exp.descripcion }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>

                    <!--========== CERTIFICATES ==========-->
                    <!-- <section class="certificate section" id="certificates">
                        <h2 class="section-title">Certificados</h2>

                        <div class="certificate__container bd-grid">
                            {% for issuer, portfolio_group in grouped_portfolio.items %}

                            <div class="certificate__content bd-grid">
                                {% for portfolio_info in portfolio_group %}
                                <h3 class="certificate__title">{{ portfolio_info.name }} ({{ portfolio_info.year }}) <a
                                        class="nav__linkcert" href="{{ portfolio_info.link3 }}" target="_blank"><i
                                            class='bx bx-link-external'></i></a></h3>
                                {% endfor %}
                                <span class="certificate__company">{{ issuer }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </section> -->
                    <!--========== INTERESTS ==========-->
                    <section class="interests section">
                        <h2 class="section-title">Intereses</h2>
                        <div class="interests__container bd-grid">
                            <div class="interests__content">
                                <i class="bx bx-headphone interests__icon"></i>
                                <span class="interests__name">Música</span>
                            </div>
                            <div class="interests__content">
                                <i class="bx bx-coffee interests__icon"></i>
                                <span class="interests__name">Café</span>
                            </div>
                            <div class="interests__content">
                                <i class="bx bxs-plane-alt interests__icon"></i>
                                <span class="interests__name">Viajes</span>
                            </div>
                            <div class="interests__content">
                                <i class="bx bx-book interests__icon"></i>
                                <span class="interests__name">Lecturas</span>
                            </div>
                            <div class="interests__content">
                                <i class='bx bx-pyramid interests__icon'></i>
                                <span class="interests__name">Bicicleta</span>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
        <p class="updated">Creación: Marzo 28, 2026</p>
    </main>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-up-arrow-alt scrollttop__icon'></i>
    </a>
    <!--========== MAIN JS ==========-->
    <script src="{% static 'assets/js/main_cv.js' %}"></script>
</body>

</html>